@import "./styles/variable.scss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: $light-gray-color;
  margin-top: 10%;

}

